
xcelium.d/
INCA_libs/
*.history
*.key
*.log
*.pb
*.jou
*.trn
*.dsn
*.tstamp
*.cmd
*.sdf
*.v


waves.shm/
*.shm
*.vcd
*.fsdb


.DS_Store
.vscode/


# Simulation outputs
sim/out/
sim/xcelium.d/
sim/.simvision/
sim/waves.shm/
sim/xrun.history

Generic Xcelium artifacts
.simvision/
xrun.history


lib/
synth/fv/
